[submodule "assets"]
	path = assets
	url = https://github.com/OfficialEduardoLuna/Pluto-assets
	branch = master
[submodule "database"]
	path = database
	url = https://github.com/kivutar/ludo-database.git
